modules = ["nodejs-20", "web"]
run = "npm run start"

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 38921
externalPort = 3002

[[ports]]
localPort = 38927
externalPort = 3000

[[ports]]
localPort = 42671
externalPort = 3003

[[ports]]
localPort = 44149
externalPort = 3001

[[ports]]
localPort = 45667
externalPort = 80
